@import url(/src/styles/contPlanProd-vars.css);

.cabecalho-cont-plan-prod {
    display: flex;
    flex-direction: row;
    background-color: #2E3577;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.cabecalho-cont-plan-prod h1 {
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    font-family: "Amiko", sans-serif;
}

.excel {
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.excel:hover {
    transform: scale(1.1);
}